@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap'); 

/* Start of CSS Reset */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

/* End of CSS Reset */

* {
    --primary-color: rgb(81, 151, 230);
    --secondary-color: rgb(255, 255, 255);
    --accent-color: rgb(255, 198, 43);
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.page-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    height: 100vh;
}

.sidebar {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1rem;
    color: var(--secondary-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.dashboard-logo {
    margin: 15px 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    font-size: 2rem;
    align-items: center;
}

.nav-button-container {
    margin: 15px 0;
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
}

.sidebar-nav {
    display: grid;
    margin: 0 1rem;
    height: 500px;
}

.content-wrapper {
    display: grid;
    grid-template-rows: 5rem 7rem 1fr;
}

.top-bar {
    display: grid;   
    grid-template-columns: repeat(8, 1fr);
    padding: 0 50px;
}

.search-container {
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: 50px 1fr;
    justify-items: center;
    align-items: center;
}

.search-container input[type="text"] {
    width: 100%;
}

.profile-container {
    display: grid;
    grid-template-columns: minmax(50px, 1fr) minmax(50px, 1fr) minmax(200px, 3fr);
    grid-column: -1 / -3;
    align-items: center;
    justify-items: center;
}

.profile-container p {
    font-size: 1.2em;
    font-weight: 600;
}

.second-bar {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 0 50px;
}

.user-greeting {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 5px;
    justify-items: start;
    align-items: center;
    grid-column: 1 / 4;
    font-weight: 600;
}

.user-greeting .profile-icon {
  justify-self: center;
}

.greeting-message p:last-of-type {
    font-size: 1.5rem;
}

.user-actions-container {
    display: grid;
    grid-column: -1 / -4;
    grid-template-columns: repeat(3, 150px);
    gap: 15px;
    justify-self: end;
    justify-items: center;
    align-items: center;
}

.user-actions-container button {
    width: 120px;
    height: 3rem;
    border-style: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 25px;
}

.user-digest {
    background-color: rgb(206, 214, 223);
    padding: 3rem 15px;
    gap: 25px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.user-projects {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.project-cards {
  display: grid;
  overflow: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 300px);
  gap: 25px;
  padding: 25px;
}

.card {
  background-color: var(--secondary-color);

}
